* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    width: 186px;
    height: 68px;
    padding: 8px 12px;
    border-radius: 14px;
}

/* Header */
.header .body {
    display: flex;
    align-items: center;
    padding-top: 52px;
}

.navbar {
    margin-left: auto;
}

.navbar .list {
    display: flex;
}

.navbar .item a {
    padding: 8px 20px;
    color: #2f3a3b;
}

.navbar .item:first-child a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 600;
}

.action {
    margin-left: calc(177px - 30px);
}

.action .cta-signin {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.action .cta-signup {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    padding: 12px 24px;
    margin-left: 12px;
}

.action .cta-signup:hover {
    color: #fff;
    background: var(--primary-color);
}

/* HERO */
.hero {
    margin-top: 50px;
}

.hero .body {
    display: flex;
    align-items: center;
    padding-bottom: 79px;
}

.hero .content-block {
    width: 40%;
    height: 445px;
}

.hero .subtitle {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero .desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.77;
}

.btn-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero .cta-action {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .cta-action:hover {
    opacity: 0.5;
}

.hero .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block {
    position: relative;
    margin-left: 71px;
    width: 55%;
}

.media-block .person {
    width: 576px;
    height: 631px;
    background: #e0f7f6;
    margin-left: auto;
}

.media-block .courses {
    display: flex;
    align-items: center;
    position: absolute;
    top: 149px;
    left: 22px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .courses .book {
    position: relative;
    width: 36px;
    height: 40px;
    background: #ff8282;
    margin: 17px 25px;
    border-radius: 5px 2px 2px 5px;
}

.media-block .courses .separate {
    position: absolute;
    top: 28px;
    left: 4px;
    right: 4px;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
}

.media-block .courses-desc {
    position: absolute;
    left: 77px;
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.media-block .schedules {
    position: absolute;
    bottom: 46px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .schedule-desc {
    margin: 16px 35px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.media-block .progress {
    margin: 16px auto 0;
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.media-block .progress + .progress {
    margin-top: 12px;
}

.media-block .progress:last-child {
    width: 26px;
    margin-left: auto;
    margin-right: auto;
}

.media-block .loaded-1,
.media-block .loaded-2,
.media-block .loaded-3 {
    background: #fb9899;
    height: 6px;
    border-radius: 3px;
}

.media-block .progress .loaded-1 {
    width: 39px;
}

.media-block .progress .loaded-2 {
    width: 51px;
}

.media-block .progress .loaded-3 {
    width: 33px;
}

.media-block .students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .students-desc {
    margin: 17px 35px 0;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.media-block .student-item {
    margin-left: -7px;
}

.media-block .student-item img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.media-block .student-list {
    display: flex;
    margin: 8px 35px 0;
}

.media-block .avatar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background: #1ebfc1;
}

.features {
    margin-top: 130px;
}

.features .body {
    width: 1024px;
}

.feature-top .subtitle,
.courses .subtitle {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.feature-top .title,
.courses .title {
    margin-top: 18px;
    width: 577px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.feature-top > .desc {
    margin-top: 18px;
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
}

.features .feature-bottom {
    margin-top: 80px;
}

.features .feature-list {
    display: flex;
    margin-left: auto;
}

.feature-bottom .feature-item {
    min-width: 168px;
    max-width: 224px;
    margin-right: 200px;
}

.feature-bottom .feature-item:last-child {
    margin-right: 0;
}

.feature-bottom .feature-heading {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature-bottom .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
}

.courses {
    margin-top: 130px;
}

.courses .body {
    height: 778px;
}

.row {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .row > .desc {
    width: 525px;
    line-height: 1.77;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.courses .view-all-courses {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.courses-bottom {
    margin-top: 79px;
}

.courses-bottom .course-list {
    display: flex;
}

.courses-bottom .course-item {
    position: relative;
    margin-right: 47px;
}

.courses-bottom .course-item:last-child {
    margin-right: 0;
}

.courses-bottom .course-item img {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.courses-bottom .course-item .info {
    position: absolute;
    top: 322px;
    left: 17px;
    right: 17px;
    width: 325px;
    height: 195px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-bottom .course-item .name-course {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-bottom .course-item .fee {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.courses-bottom .course-item strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-bottom .info > .desc,
.courses-bottom .classes-months > .desc {
    margin-top: 13px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses-bottom .classes-months > .desc {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.courses-bottom .classes-months > .desc::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 50%;
    margin: 0 10px;
}

.courses-bottom .course-item .classes-months {
    display: flex;
}

.stats .body {
    width: 862px;
    height: 131px;
    display: flex;
    justify-content: space-around;
    margin: 251px auto 0;
}

.stat-info {
    text-align: center;
}

.stat-info .num {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 93px;
}

.stat-info .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.feedback {
    margin-top: 264px;
    padding: 40px 0;
}

.feedback .body {
    display: flex;
    align-items: center;
    height: 481px;
}

.feedback .feedback-content {
    width: 36%;
}

.feedback blockquote {
    width: 419px;
    margin-top: 24px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback .info {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback .info strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.feedback .control {
    margin-top: 52px;
    width: 130px;
}

.feedback .control-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #2ac9bf;
    color: #fff;
}

.feedback .control-btn + .control-btn {
    margin-left: 20px;
}

.feedback-avatar {
    position: relative;
    width: calc(100% - 36%);
    height: 481px;
    margin-left: 72px;
}

.feedback-avatar img {
    position: absolute;
    top: 107px;
    bottom: 139px;
    left: 273px;
    right: 171px;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-avatar img:nth-child(1) {
    top: 107px;
    bottom: 139px;
    left: 273px;
    right: 171px;
}

.feedback-avatar img:nth-child(2) {
    width: 92px;
    height: 92px;
    top: 0;
    bottom: 389px;
    left: 144px;
    right: 443px;
}

.feedback-avatar img:nth-child(3) {
    width: 110px;
    height: 110px;
    top: 19px;
    bottom: 352px;
    left: 569px;
    right: 0;
}

.feedback-avatar img:nth-child(4),
.feedback-avatar img:nth-child(5),
.feedback-avatar img:nth-child(6) {
    width: 78px;
    height: 78px;
}

.feedback-avatar img:nth-child(4) {
    top: 258px;
    bottom: 145px;
    left: 0;
    right: 601px;
}

.feedback-avatar img:nth-child(5) {
    top: 403px;
    bottom: 0;
    left: 212px;
    right: 389px;
}

.feedback-avatar img:nth-child(6) {
    top: 374px;
    bottom: 29px;
    left: 569px;
    right: 32px;
}
